@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #383a48;
  --background: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background-start: 0, 0, 0;
    --background-end: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto;
}
.title {
  /* font-size: 4.688rem; */
  line-height: 1.5;
  align-items: center;
}
.speaker-title {
  color: #ffffff;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #000;
}
@media (max-width: 767px) {
  .speaker-title {
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
  }
}
